@font-face {
  font-family: 'DancingScriptRegular';
  src: url('/assets/fonts/dancing/6abe34ba1e4054f1d470f5ad3/DancingScriptRegular.ttf') format('truetype');
}

h1, h2, p {
    padding: 12px;
    line-height: 2em;
}

h1 {
    text-align: center;
    color: blue;
    font-family: 'DancingScriptRegular';
    font-size: 400%;
}
a, a:hover, a:visited {
    color: #665544;
}

i {
    color: darkgreen;
}
p {
    font-family: 'DancingScriptRegular';
    font-weight: normal; 
    font-style: normal;
    font-size: 200%;
}
 body {
   font-family: Helvetica, Arial, sans-serif;
   color: #665544;
   padding: 0 15% 0 15%;
 }
