html {
  height: 100%;
  width: 100%;
}

#topmenu li{
  display: inline;
}

#menu {
  background-color: white;
  
body {
 background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F251722.jpg&f=1&nofb=1&ipt=6d307ab73bae5aa973b18175343a18c0dc054a346d2ccdfea0d457c71144e12c&ipo=images");
  background-position: center;
  background-size: 2000px;
  background-repeat: no-repeat;
}
