html {
  height: 100%;
  width: 100%;
}

#topmenu li{
  display: inline;
}

#menu {
  background-color: white;
  
body {
 background-image: URL('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.imagelighteditor.com%2Fimg%2Fbg-after.jpg&f=1&nofb=1&ipt=a99748831b3f8cde973d17a5972a087902956d449274e95049ad5b23b66f6f3c&ipo=images');
  background-position: center;
  background-size: 2000px;
  background-repeat: no-repeat;
}
