html {
  height: 100%;
  width: 100%;
}

#topmenu li{
  display: inline;
}

body {
 background-image: URL('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages6.alphacoders.com%2F326%2F326595.jpg&f=1&nofb=1&ipt=96231c74d26a3723832aa9639d85830de6da454a4db667d4bee2c02f9d1d7767&ipo=images');
  background-position: center;
  background-size: 1540px;
  object-fit: cover; 
  background-repeat: no-repeat;
}
